.container{
    display: flex;
    justify-content: center;
    background-image: url("../public/img/background.png");
    flex-direction: column;
}
.hr{
    background-color: black;
    

}
.data {
    display: flex;
    width: 100%;
    max-width: var(--nextui--navbarContainerMaxWidth);
    margin: 2em auto;
}

.items{ 
    text-align: center;
    color:rgb(198, 199, 199);
    text-shadow: 10px 5px 5px black;
    width: 100%;
    padding: 1em;
}
/* .items:nth-child(2){
    border:5px solid red;
} */

.copy{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2em;
    color:rgb(198, 199, 199)
    
}
.Nombres{
    color:rgb(198, 199, 199);
}

@media (max-width: 1000px) {
    .data{
        flex-direction: column;
        margin-bottom: 0;
    }
}
  
  