::before
::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
section{
    width: 100%;
    height: 100vh;
    background-color: #3c4053;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordationItem{
    background-color: #283042;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
}

.accordationLink{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.accordationLink image{
    color: #e7d5ff;
    padding: .5rem;
}
.accordationLink .imgMin{
    color: #e7d5ff;
    padding: .5rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    transition: max-height 650ms;
}

.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8fc460;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.answer p{
    color: rgba(255, 255, 255, .6);
    font-size: 1.4rem;
    padding: 2rem;
}
.accordationItem:target .answer{
    max-height: 20rem;
}
.accordationItem:target .accordationLink .imgAdd{
    display: none;
}
.accordationItem:target .accordationLink .imgMin{
    display: block;
}

