/*Dropdown*/
.container{
	margin: auto;
	width: 100%;
    font-family: "Open Sans", Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.nextui-c-hPzDAx .nextui-collapse-title {
    color: #cee4fe;
    font-size: 2vw;
    text-align: center;
    letter-spacing: 1px;
    padding: 18px;
    width: 100%;
    /* background-color: #16213E; */
    border: none;
    cursor: pointer;
    margin: 10px;
}
.todo h3{
    color: blue;
}
.ave{
    color: red;
}

.ave h3{
    
    
    color: #cee4fe;
    font-size: 2vw;
    text-align: center;
    letter-spacing: 1px;
    padding: 18px;
    width: 100%;
    /* background-color: #16213E; */
    border: none;
    cursor: pointer;
    margin: 10px;
    
}
.nextui-c-PJLV-ijnlmIz-css {
    overflow: hidden;
    padding: 0px 18px;
    background-color: rgb(217, 217, 217);
    color: rgb(31, 31, 31);
    text-transform: none;
}

.active, .collapsible:hover {
    background-color: rgb(1, 28, 100);
}
.title {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  
  .text {
     margin-top: 190px;
    font-weight: bold;
    text-align: center;
    font-size: 5vw;
    color: lightblue;
     -webkit-animation: changeColor 80s ease-in infinite;
     animation: changeColor 1s ease-in infinite;
  }
  .em {font-family: -webkit-pictograph; font-weight: lighter;}
  