
.contAll{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 98%;

    
}


.prog{
    background-color: rgba(27, 25, 24, 0.541);
    border: 1px solid black;
    border-radius: 5px;
    /* height: 100px; */
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}
.imagen{
margin: auto;
width: 30%;

}
.textProg{
    color: white;
    text-align: center;
    margin: auto;
    width: 60%;
    
}

.separador{
    border: 1px dashed black;
}
.ado{
    border: 1px solid white;
    /* height: 100px; */
    margin-bottom: 30px;
}

.ipp{
    border: 1px solid salmon;
    /* height: 100px; */
    margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
    .imagen{
        display: none;
    }
    .textProg{
        width: 80%;
    }
  }